.flex {
  display: flex;
}
.flex__jc--center {
  justify-content: center;
}
.flex__jc--between {
  justify-content: space-between;
}
.flex__jc--around {
  justify-content: space-around;
}
.flex__ai--center {
  align-items: center;
}
.flex--center {
  display: flex;
  justify-content: center;
  align-items: center;
}
